<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Second-hand Car Prediction</title>


        <!-- CSS -->
        <link href="{{url_for('static',filename='css/main.css')}}" rel=" stylesheet">
    </head>

    <body>
        <div class="login flexc">


            <!-- Main Input For Receiving Query to our ML -->
            <form class="mainForm" action="{{ url_for('predict')}}" method="POST">
                <h1 class="mainForm_title">Owned Car Price Prediction</h1>
                <h3 align="center">By Rahul Mondal</h3>
                <label for="Year">Year</label><br>
                <input type="text" id="Year" name="Year" required="required" /><br>

                <label for="Present_Price">Present Price in Lakhs : (Example- 1.2,4.3)</label><br>
                <input type="text" id="Present_Price" name="Present_Price" required="required" /><br>

                <label for="Kms_Driven">Kms Driven</label><br>
                <input type="text" id="Kms_Driven" name="Kms_Driven" required="required" /><br>

                <label for="Fuel_Type">Fuel Type : [Petrol, Diesel, CNG]</label><br>
                <input type="text" id="Fuel_Type" name="Fuel_Type" required="required" /><br>

                <label for="Seller_Type">Seller Type : [Dealer, Individual]</label><br>
                <input type="text" id="Seller_Type" name="Seller_Type" required="required" /><br>

                <label for="Transmission">Transmission : [Manual, Automatic]</label><br>
                <input type="text" id="Transmission" name="Transmission" required="required" /><br>

                <label for="Owner">Number of Previous Owner's</label><br>
                <input type="text" id="Owner" name="Owner" required="required" /><br>

                <div class="btn_con flexc">
                    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
                </div>
            </form>

            <br>
            <br>
            <div class="Pred">{{ prediction_text }}</div>

        </div>
    </body>

</html>
